extends layout

block content

  .row.margin
    .col-md-3
      .accBox(style='margin-bottom: 0.24em')
        .row
          .col-7
            #name #{account.name}
            #balance Balance: $#{account.balance}
          .col-3    
            img.rounded-circle.imgfluid(src=account.profilePicture, style="width:6em; height:auto;",alt="Avatar")
      .topBox
        p Top Up
        input.textLine(name='topUps', type='text')
        p.sendBtn Add to Account
      .margin.row 
      a(href='/') Sign Out
    .col-md-9
      .row.dash
        each contact in account.contacts
          .col-md-4
            .card.contact
              h5.card-header
                  p #{contact.accountID}
              .card-body
                p.card-text
                  img.rounded-circle.img-fluid(src=contact.profilePicture, style="width:6em;",alt="Avatar")
                  form(action="/sendMoney", method="post") 
                    .form-group
                      input(type="hidden", name="contactID", value=contact.accountID)
                      input(type="hidden", name="senderID", value=account.accountID)
                      label(for='amount') Amount
                      input#amount.form-control(name='amount', type='number', required='required')
                    .form-group
                      input(type="submit", value="Send", class="btn btn-primary")
        .col-md-4
          .card.contact
            h5.card-header
              | Add A Contact
            .card-body
              p.card-text
                form(action="/addContact", method="post") 
                  .form-group
                    label(for='username') Username
                    input#username.form-control(name='username', type='text', required='required')
                  .form-group
                    input(type="submit", value="Add Contact", class="btn btn-primary")
            